* {
  box-sizing: border-box;
}

.container {
  width: 625px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.block {
  background-color: #cccccc;
  width: 25px;
  height: 25px;
  border: 2px solid white;
}

.active {
  background-color: #333333;
}

.btn {
  background-color: hotpink;
  color: #ffffff;
  border: 1px solid rgb(226, 25, 58);
  padding: 0.5em 1em;
  margin: 5px;
  border-radius: 6px;
}

.btn:active {
  background-color: pink;
}

.btn:disabled {
  background-color: #cccccc;
  border: none;
}
